@import 'colors';
@import 'mobile';

.forecast {

  &__wrapper {
    background: $white;
    display: flex;
    margin: 16px;
    padding: 16px;
    overflow-x: auto;
    border-radius: 12px;

    @include mobile() {
      flex-direction: column;
      max-height: 270px;
    }
  }

  &__entity {
    padding: 8px;
    border: 1px solid $gray;
    margin: 8px;
    border-radius: 8px;
  }
}
