<ng-container *ngIf="cityInfo$ | async as city">
  <div class="card__wrapper"
       [style.background-image]="backgroundUrl"
       [routerLink]="[{ outlets: { forecastInfo: ['forecast', city.coord.lat, city.coord.lon] } }]"
       routerLinkActive="card__wrapper--active"
  >
    <div class="card__description">
      <wa-weather-conditions
        [conditions]="{
          info: cityName,
          weatherIcon: city.weather[0].icon,
          temperature: city.main.temp,
          wind: city.wind.speed
        }"
      ></wa-weather-conditions>
    </div>
  </div>
</ng-container>
